<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="padding: 20px;
            margin: 20px auto;
            width:50%;
            height:auto;
            border: 2px solid grey;
            border-radius: 5px;
            box-shadow: 1px 1px;">
    <img th:src="${logoURL}"/>
    <hr/>
    <div style="height: auto;">
        <p>
            Thank you for creating your <span th:text="${appName}"></span> account.
            Please verify your email address to complete your registration by clicking the below verify your email
            address button. If you can't click the link, copy and paste the URL into your browser's address bar, and hit
            enter.
        </p>
    </div>
    <div style="margin: 10px; text-align: center;">
        <a style="font-size: 20px;
            font-family: Helvetica,Arial,sans-serif;
            text-decoration: none;
            border-radius: 4.8px;
            line-height: 25px;
            display: inline-block;
            font-weight: normal;
            white-space: nowrap;
            background-color: #2ec866;
            color: #ffffff;
            padding: 8px 16px;
            border: 1px solid #31789b;"
           target="_blank"
           th:href="${verifyAddress}">
            Verify Your Email Address
        </a>
    </div>
    <div style="margin-top: 50px; margin-bottom: 20px;">
        <p>
            <span th:text="${appName}"/> Team
            <br/>
        </p>
    </div>
</div>
</body>
</html>