<!DOCTYPE html>
<html lang="en">
<body>
<div style="padding: 20px; margin: 20px;">
    <img src="%1$s"/>
    <hr/>
    <div>
        <p>
            Thank you for creating your %2$s account.<br/>
            Please verify your email address to complete your registration by clicking the below verify your email
            address button. <br/>
            If you can't click the link, copy and paste the URL into your browser's address bar, and hit enter<br/>
        </p>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: start; align-items: center;">
        <a style="font-size: 20px;
            font-family: Helvetica,Arial,sans-serif;
            text-decoration: none;
            border-radius: 4.8px;
            line-height: 25px;
            display: inline-block;
            font-weight: normal;
            white-space: nowrap;
            background-color: #31789b;
            color: #ffffff;
            padding: 8px 16px;
            border: 1px solid #31789b;" target="_blank" href="%3$s">Verify Your Email
            Address</a>
        <br/>
        <a href="https://www.vermilioncloud.com.au/">%3$s</a>

    </div>
    <div style="margin-top: 50px; margin-bottom: 20px;">
        <p>
            We Master<br/>
            Vermilion Cloud <br/>
        </p>
    </div>
</div>
</body>
</html>